#container
  #banner
    #repeat
    #main
      %a.banner{:href => "http://karenandrew.info/", :title => "Karen &amp; Andrew"}
        %span Karen &amp; Andrew
      %ul
        %li.topics
          %a{:href => "http://topics.karenandrew.info/", :title => "Gospel Topics"}
            %span Gospel Topics
        %li.journal
          %a{:href => "http://journal.karenandrew.info/", :title => "Family Journal"}
            %span Family Journal
        %li.recipes
          %a{:href => "http://recipes.karenandrew.info/", :title => "Family Recipes"}
            %span Family Recipes
        %li.howto
          %a{:href => "http://howto.karenandrew.info/", :title => "How We Do It"}
            %span How We Do It
    %hr/
  %hr/